.title{
    text-align: center;
    color: #212EA0;
    font-size:23px ;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;/*top leftryt bottom*/

}
.title h2{
    font-size: 36px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}